@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Fora da área de operação */

body{
    background-color: black;
    padding-top: 10px;
}
h1{
    font: bold 20pt Arial;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

header{
    color: white;
}

/* Área da Operação */

div#areaOperacao{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 2px 2px gray;
    padding: 25px;
    margin-left: 300px;
    margin-right: 300px;
}

label#num1text{
    margin: 5px;
    margin-right: 163px;
}

input{
    margin-right: 50px;
    margin-left: 5px;
}

input#n2{
    margin-left: 65px;
}

div#localResposta{
    background-color: rgb(189, 185, 185);
    border: 1px solid;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

section{
    color: black;
}

/* Rodapé */

footer{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}